.Form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

